/* Background Gradient */
body {
    background: linear-gradient(to bottom, #f2f2f2, #ccc); /* Adjust colors as needed */
    font-family: 'Arial', sans-serif; /* Customize the font */
    color: #333; /* Default text color */
}

/* Light Mode */
body.light-mode {
    background: linear-gradient(to bottom, #f2f2f2, #ccc); /* Adjust colors as needed */
    color: #333;
}

/* Dark Mode */
body.dark-mode {
    background: linear-gradient(to bottom, #333, #111); /* Dark background */
    color: #fff;
}


/* Light/Dark Mode Toggle Button */
#mode-toggle {
    position: fixed;
    top: 0; 
    right: 0; 
    z-index: 1000; 
    background-color: transparent;
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
    padding: 1px 2px;
    border-radius: 5px;
    border-color: transparent;
    /* transition: background-color 0.3s; */
}




/* Navbar styles */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

/* Welcome section styles */
#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 110px;
}
h2{
    font-size: 50px;
    text-align: center;
}


/* About Me Section */
#about-section {
    padding: 2px 60px 2px 60px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
}

.about-left {
    flex: 1;
    text-align: center;
}

.about-left img {
    max-width: 100%;
    border-radius: 50%;
}

.about-links {
    margin-top: 20px;
}

.about-links a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

.about-right {
    flex: 2;
    text-align: left;
    padding: 0 5px;
}

.about-right p {
    font-size: 26px;
    line-height: 1.6;
    max-width: 100%;
    padding-left: 10px;
    justify-content: center;
    text-align: center;
}

.about-links img {
    width: 30px; 
}

.github-icon {
    color: #FF007F; 
}

.linkedin-icon {
    color: #0077B5; 
}


a.resume-link {
    background-color: #02070c;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

a.resume-link:hover {
    background-color: #0056b3;
}


/* Skills Section */
#skill-section {
    border-radius: 20px;
    text-align: center;
}

.skills-container {
    padding: 20px 90px 200px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-category {
    width: calc(21.33% - 1px); /* 33.33% width with 10px spacing */
    margin: 1px;
    padding-inline: 60px;
    border-radius: 10px;
    text-align: center;
}

.skill-category h3 {
    font-size: 60px;
    display: flex;
    align-items: center;
}

.skill-category ul {
    list-style: none;
    padding: 0;
}

.skill-category ul li {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.skill {
    background: linear-gradient(to bottom, #f2f2f2, #ccc); 
    /* color: #000000; */
    color: #FF007F;
    padding: 5px 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-right: 1px;
    text-align: center;
    /* transition: background-color 0.3s; */
}

.skill:hover {
    background-color: #b4a7be;
}


/* projects Section */
#projects-section {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}


.project-item {
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-item img {
    width: 40%;
    border-radius: 10px 0 0 10px;
}

.project-details {
    width: 60%;
    padding: 20px;
    text-align: left;
}

 h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.project-details p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 15px;
}

.project-details a {
    background-color: #02070c;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    /* transition: background-color 0.3s; */
}

.project-details a:hover {
    background-color: #0056b3;
}



/* Contact Form Styles */
#contact-section h2{
    text-align: center;

}
#contact-form {
    
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border: 10px solid #ccc;
    border-radius: 5px;
}

#contact-form label {
    
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contact-form textarea {
    height: 100px;
}

#contact-form input[type="submit"] {
    background-color: #02070c;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #02070c;
}

#contact-form .success-message {
    color: #00a000;
    font-weight: bold;
}

#contact-form .error-message {
    color: #ff0000;
    font-weight: bold;
}

/* Blog Section */
#blog-section {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}


#blog-section p {
    font-size: 16px;
    line-height: 1.6;
}

/* Profile Link */
#profile-link {
    display: inline-block;
    background-color: #02070c;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    /* transition: background-color 0.3s; */
}

#profile-link:hover {
    background-color: #0056b3;
}


/* Media Query for responsiveness */
@media (max-width: 768px) {
    /* Your responsive CSS rules go here */
}

#scroll-down-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #02070c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    /* transition: background-color 0.3s; */
}

#scroll-down-button:hover {
    background-color: #02070c;
}

#scroll-down-button {
    position: fixed;
    right: 20px; /* Adjust the right position as needed */
    bottom: 20px; /* Adjust the bottom position as needed */
    cursor: pointer;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #007bff; /* Arrow color */
}














